@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/* Basics */
.full-window {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
li {
  list-style-type:none;	
}
.button.selected.secondary {
  background-color:$iron;
}
pre {
  overflow:scroll;
  background-color:$jet;
  color:$base;
  padding:1rem;
}
textarea {
  min-height:15rem;
}

/* Common */
.button-group > li .button {
  margin-bottom:.5rem;
}
#stdOutBut {
  padding:0;
  position:absolute;
  top:0;
  left:0;
}
ul.list {
  margin:0;
}
ul.list table{
  width:100%;
}
.box{
  margin:.5rem 0;
  padding:1rem;
  background-color:$vapor;
}
.box ul {
  margin:1rem 0;
}
.box .button {
  margin:0;
}
.box h3 {
  text-align:center;
  margin:0;
  margin-bottom:.25rem;
  font-size:1.25rem;
}
.output {
  margin:5rem 0;
}
.output h3 {
  text-align:center;
}
img.preview {
  margin:.5rem 0;
}
.img-px {
  padding:0 .5rem;
  color:$faded-text;
}


/* Shared */
#user-box .name {
  margin:0 1rem 0 2rem;
}
#user-box * {
  float:left;
  display:inline-block;
}
#list-meta-box * {
  text-align:center;
}
#list-meta-box .pager {
  margin-top:1rem;
}
#urn-info {
  margin:2rem 0;
}
#urn-info h1 {
  padding:0;
}
#urn-info * {
  text-align:center;
  word-break: break-all;
}
#top-row {
  padding:.25rem;
  background-color:$robin;
}
#top-row .columns {
  padding:.25rem;
}
#top-row .button {
  margin:0;
}