@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";

/* Basics */
.full-window {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}
li {
  list-style-type:none;	
}
.button.selected.secondary {
  background-color:$iron;
}
pre {
  overflow:scroll;
  background-color:$jet;
  color:$base;
  padding:1rem;
}
textarea {
  min-height:15rem;
}
h1 {
  word-break:break-all;
}
.clearfix {
  clear:both;
}
.padder{
  width:100%;
  height:1rem;
}

/* Common */
.button-group > li .button {
  margin-bottom:.5rem;
}
#stdOutBut {
  padding:0;
  position:absolute;
  top:0;
  left:0;
}
ul.list {
  margin:0;
}
ul.list table{
  width:100%;
}
.box{
  margin:.5rem 0;
  padding:1rem;
  background-color:$vapor;
}
.box ul {
  margin:1rem 0;
}
.box .button {
  margin:0;
}
.box h3 {
  text-align:center;
  margin:0;
  margin-bottom:.25rem;
  font-size:1.25rem;
}
.output {
  margin:5rem 0;
}
.output h3 {
  text-align:center;
}
img.preview {
  margin:.5rem 0;
}
.img-px {
  padding:0 .5rem;
  color:$faded-text;
}


/* Shared */
#user-box .name {
  margin:0 1rem 0 2rem;
}
#user-box * {
  float:left;
  display:inline-block;
}
#list-meta-box * {
  text-align:center;
}
#list-meta-box .pager {
  margin-top:1rem;
}
#urn-info {
  margin:2rem 0;
}
#urn-info h1 {
  padding:0;
}
#urn-info * {
  text-align:center;
  word-break: break-all;
}
#urn-info.Annotation h1{
  font-size:1.75rem;
}
#top-row {
  padding:.25rem;
  background-color:$robin;
}
#top-row .columns {
  padding:.25rem;
}
#top-row .button {
  margin:0;
}

/* sparqlMsg */
#sparqlMsg {
	margin: 0 0 2rem 0;
	text-align: center;
}

/* jsonMsg */
#jsonMsg .alert-box {
  margin:0;
  margin-top:.5rem;
}
#jsonMsgBut {
  float:right;
}

/* jsonMsgMini */
#jsonMsgMini {
  margin: .25rem;
  font-size: .75rem;
}

/* img-bit */
.img-bit {
  display:inline-block;
}
.img-bit .frame {
  position:relative;
  overflow:hidden;
}
.img-bit .frame img {
  position:absolute;
  display:block;
  vertical-align:baseline;
  max-width:none;
  max-height:none;
}

/* img-loc */
.img-loc .lite {
	opacity: 0.8;
	background-color:$yellow;
}

/* img-spect */
.imgspect {}
.imgspect.frame {
  position:relative;
  overflow:hidden;
  background-color:$vapor;
}
.imgspect.frame .canvas {
  float:left;
  position:absolute;
  display:block;
  vertical-align:baseline;
  max-width:none;
  max-height:none;
  background-size:cover;
  overflow:hidden;
}
.imgspect.nav {
  outline: 1px $vapor;
  position:absolute;
}
.imgspect.nav .canvas {
  float:left;
  position:absolute;
  display:block;
  vertical-align:baseline;
  max-width:none;
  max-height:none;
  background-size:contain;
  overflow:hidden;
}
.imgspect .drag {
  position:absolute;
  z-index:100;
  background-color:#FFF;
  outline:1px solid #444;
  border:1px solid #BBB;
}
.imgspect.imgbits {
  clear:both;
}
.imgspect .lite {
  position:absolute;
}
.imgspect .lite p {
  padding:.5rem;
  margin:0;
}
.imgspect .lite.temp {
  overflow:hidden;
}
.imgspect .lite.temp .nudge {
  display:block;
  width:100%;
  margin:0;
  padding:0;
  height:.5rem;
}
.imgspect .lite.temp .ctrl {
  text-align:right;
  position:absolute;
  bottom:0;
  right:0;
}
.imgspect .lite.temp .ctrl .button {
  margin:0;
  padding:.5rem .5rem;
}
.imgspect .lite.temp .words * {
  margin:0;
  border:0;
}
.imgspect .lite.temp .words *:focus {
  outline:0;
}
.imgspect .lite.temp .words textarea {}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.imgspect .annot .button {
  margin:0;
}
.imgspect .annot {
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  position:absolute;
  padding:.5rem;
  width:15rem;
}

/* alert-box */
.alert-box .button {
	margin: 0 0 0 2rem;
}

/* control-box */
#control-box.button {
	margin: 0 .25rem 0 0;
}