<!-- frame -->
<div class="img-spect frame"
	 style="width:{{ frame_w }}px;
	 		height:{{ frame_h }}px">
	
	<!-- canvas --> 
	<div class="canvas"
		 style="width:{{ draw_w }}px;
		 		height:{{ draw_h }}px;
				left:{{ draw_l }}px;
				top:{{ draw_t }}px;
				background-image: url('{{ src }}')">
				
		<!-- hilites -->
	</div>
	
</div>

<!-- nav -->
<div class="img-spect nav">
	<div class="drag"></div>
	<img src="{{ src }}" 
		 style="height:{{ nav_h }}px"
	/>
</div>

<!-- imgbits -->
<img ng-repeat="item in json.annotations" src="{{ src }}" 
	 ng-param="{{ item.x }},{{ item.y }},{{ item.w }},{{ item.h }}"
img-bit />