<div class="row">
	<div class="columns small-12 medium-6">
		<!-- List Info -->
		<div list-meta-box></div>
		<!-- New Collection -->
		<a class="button secondary" href="#/new/collection">new collection</a>
	</div>
	<div class="columns small-12 medium-6">	
		<!-- Filter -->
		<div filter-box></div>
	</div>
</div>

<!-- Collections -->
<ul class="collections list">
  <li ng-repeat="item in json">
    <table>
	  <tr ng-repeat="key in keys" ng-switch on="key">
		<th>{{ key }}</th>
		<!-- urn -->
		<td ng-switch-when="urn">
			<a href="#/collection/{{ item[key].value }}">{{ item[key].value }}</a>
		</td>
		<!-- user -->
		<td ng-switch-when="user">
			<a href="{{ item[key].value }}">{{ item[key].value }}</a>
		</td>
		<!-- default -->
		<td ng-switch-default>{{ item[key].value }}</td>
	  </tr>
	</table>
  </li>
</ul>

<!-- JSON -->
<label>query</label>
<pre>{{ query }}</pre>