<div id="list-meta-box">
	<h3 class="title">{{ title }}</h3>
	<div>{{ count }} total </div>
	<div>page {{ page }} of {{ pages}}</div>
	<!-- Pagination -->
	<a class="button secondary" ng-show="prev" href="#/home/{{ page-1 }}">&lt;</a>
	<a class="button secondary" ng-show="next" href="#/home/{{ page+1 }}">&gt;</a>
</div>

<!-- User's Stuff -->
<ul class="stuff list">
  <li ng-repeat="item in json">
    <table>
	  <tr ng-repeat="key in keys" ng-switch on="key">
		<th>{{ key }}</th>
		<!-- urn -->
		<td ng-switch-when="urn">
			<a href="#/collection/{{ item[key].value }}">{{ item[key].value }}</a>
		</td>
		<!-- user -->
		<td ng-switch-when="user">
			<a href="{{ item[key].value }}">{{ item[key].value }}</a>
		</td>
		<!-- default -->
		<td ng-switch-default>{{ item[key].value }}</td>
	  </tr>
	</table>
  </li>
</ul>

<!-- JSON -->
<label>query</label>
<pre>{{ query }}</pre>