<!-- load -->
<div class="imgspect">
	<img src="{{ src }}"/>
</div>

<!-- frame -->
<div class="imgspect frame"
	 ng-style="{
	   'width':'100%',
	   'height':frame_h+'px' }">
	
	<!-- canvas --> 
	<div class="canvas"
		 ng-style="{
		   'width':canvas_w+'px',
		   'height':canvas_h+'px',
		   'left':canvas_x+'px',
		   'top':canvas_y+'px',
		   'background-image': 'url('+src+')' }">
				
		<!-- lites -->
		<div ng-repeat="item in json.annotations"
			 class="lite"
			 style="width:{{ to_canvas_x( item.w ) }}px;
					height:{{ to_canvas_y( item.h )}}px;
					left:{{ to_canvas_x( item.x ) }}px;
					top:{{ to_canvas_y( item.y ) }}px;
					opacity: {{ config.lite.opa }};
					background-color:{{ config.lite.color }}">
		 </div>
		 
		 <!-- temp lite -->
		 <div class="lite temp no-select"
			 style="width:{{ to_canvas_x( temp_lite.w ) }}px;
					height:{{ to_canvas_y( temp_lite.h )}}px;
					left:{{ to_canvas_x( temp_lite.x ) }}px;
					top:{{ to_canvas_y( temp_lite.y ) }}px;
					opacity: {{ config.lite.opa }};
					background-color:{{ config.lite.color }}">
					
					<div class="words">
						<input type="text"
							   ng-model="temp_label"
							   style="background-color:{{ config.lite.color }}"
							   placeholder="label" />
						<textarea ng-model="temp_desc"
								  style="background-color:{{ config.lite.color }}"
						          placeholder="description" />
					</div>
					<div class="ctrl">
						<a ng-click="lite_stash()" class="no-select button secondary tiny">ok</a>
						<a ng-click="lite_cancel()" class="no-select button secondary tiny">cancel</a>
						<a ng-click="lite_clear_text()" class="no-select button secondary tiny">clear text</a>
						<a class="no-select button secondary tiny resize">*</a>
					</div>
		 </div>
	</div>
	
</div>

<!-- nav -->
<div class="imgspect nav"
	 ng-style="{
		 'width': nav_w()+'px',
		 'height': nav_h+'px' }">
	 
	 <!-- nav canvas -->
	 <div class="canvas"
 		 ng-style="{
 		   'width': nav_w()+'px',
 		   'height': nav_h+'px',
 		   'background-image': 'url('+src+')' }">
		   
  		 <!-- dragger -->
  		 <div class="drag"
  		 	 ng-style="{
				 	'width': drag_w()+'px',
  		 	 		'height': drag_h()+'px',
  		 			'left': drag_x+'px',
  		 			'top': drag_y+'px' }">
  		 </div>
		   
	   	 <!-- nav lites -->
	   	 <div ng-repeat="item in json.annotations"
	   		 class="lite"
	   		 style="width:{{ to_nav_x( item.w ) }}px;
	   				height:{{ to_nav_y( item.h )}}px;
	   				left:{{ to_nav_x( item.x ) }}px;
	   				top:{{ to_nav_y( item.y ) }}px;
	   				opacity: {{ config.lite.opa }};
	   				background-color:{{ config.lite.color }}">
	   	 </div>
		 
	 </div>
	 
</div>

<div style="clear:both"></div>

<div>zoom</div>
<input type="text" 
       ng-model="zoom" />

<div>color</div>
<input type="text" 
       ng-model="config.lite.color" />

<div>opacity</div>
<input type="text" 
       ng-model="config.lite.opa" />

<!-- imgbits -->
<!--
<div class="imgspect imgbits">
	<img ng-repeat="item in json.annotations" src="{{ src }}" 
		 ng-param="{{ item.x }},{{ item.y }},{{ item.w }},{{ item.h }}"
	img-bit />
</div>
-->