<div class="row">
	<div class="columns small-12">
		<!-- Info -->
		<div urn-info></div>
	</div>
</div>

<!-- Image Preview -->
<a href="{{ json['this:src'] }}"><img class="preview" src="{{ json['this:src'] }}" /></a>

<div class="row">
	<div class="columns small-12 medium-6">
		<!-- Associated Collection Items -->
		<div id="collection-items" class="box">
			<h3>collection item</h3>
			<ul class="items">
				<li ng-repeat="item in items">
					<a href="#/item/{{ item.urn }}">{{ item.urn }}</a>
				</li>
			</ul>
			<!-- Add Upload to Collection -->
			<a class="button secondary" href="#/new/item/{{ urn }}">add to collection</a>
		</div>
	</div>

	<div class="columns small-12 medium-6">
		<!-- Resized Images -->
		<div id="resize-items" class="box">
			<h3>resize</h3>
			<ul class="resize">
				<li ng-repeat="item in resize">
					<a href="{{ item.urn }}">{{ item.urn }} {{ item.width }} x {{ item.height }}</a>
				</li>
			</ul>
		</div>
	</div>
</div>

<div class="row">
	<div class="columns small-12">
		<!-- Metadata -->
		<div id="upload-form" class="box">
			<h3>metadata</h3>
			<form>
				<input type="text" ng-change="change('rdf:label')" ng-model="form['rdf:label']" placeholder="label" />
				<input type="text" ng-change="change('rdf:description')" ng-model="form['rdf:description']" placeholder="description" />
				<input class="button secondary" type="submit" value="Save" ng-click="save()" />
			</form>
		</div>
	</div>
</div>

<!-- JSON -->
<div class="output">
	<h3>JSON preview</h3>
	<pre>{{ json_string }}</pre>
</div>

<div class="output">
	<h3>JSON-LD context</h3>
	<pre>{{ context }}</pre>
</div>