<!-- STDOUT -->
<div>{{ stdout }}</div>

<!-- Info -->
<div>{{ title }}</h4>
<div>urn: {{ urn }}</div>
<div>src: {{ src }}</div>

<!-- Associated Collection Items -->
<div>Items</div>
<ul class="items">
	<li ng-repeat="item in items">
		<a href="#/item/{{ item.urn }}">{{ item.urn }}</a>
	</li>
</ul>

<!-- Add Upload to Collection -->
<a class="button secondary" href="#/new/item/{{ urn }}">add to collection</a>

<!-- Resized Images -->
<div>Resized</div>
<ul class="resized">
	<li ng-repeat="item in resize">
		<a href="{{ item.urn }}">{{ item.urn }} -- {{ item.width }} x {{ item.height }}</a>
	</li>
</ul>

<!-- Image Preview -->
<img src="{{ json['this:src'] }}" />

<!-- Upload -->
<form>
	<input type="text" ng-change="change('rdf:label')" ng-model="form['rdf:label']" placeholder="label" />
	<input type="text" ng-change="change('rdf:description')" ng-model="form['rdf:description']" placeholder="description" />
	<input class="button secondary" type="submit" value="Save" ng-click="save()" />
</form>

<!-- JSON -->
<label>object</label>
<pre>{{ json_string }}</pre>

<label>context</label>
<pre>{{ context }}</pre>