
<!-- img-bit -->

<div class="row">
	<div class="columns small-12">
		<img src="{{ src }}" 
			 ng-param="{{ coords[0] }},{{ coords[1] }},{{ coords[2] }},{{ coords[3] }}"
		img-bit />
	</div>
</div>


<!-- img-loc -->

<div class="row">
	<div class="columns small-12">
		<img src="{{ src }}" ng-param="{{ coords[0] }},{{ coords[1] }},{{ coords[2] }},{{ coords[3] }},{{ max_width }},{{ max_height }}" img-loc />
	</div>
	<div class="clearfix padder"></div>
</div>

<div class="row">
	<div id="urn-info" class="columns small-12">
		<h1>{{ urn }}</h1>
	</div>
</div>

