<div class="box">
	
	<h2>upload your file</h2>
	
	<!-- progress bar -->
		
	<div id="progressbar"></div>
	
	<div ng-hide="progress.done">
		
	<!-- upload -->
	
	<input type="file"
         ng-file-select
         ng-model="file"
         accept="image/*"
	/>
	
	<!-- submit button -->
	
	<input type="submit" 
			   class="button secondary" 
				 value="Upload"
				 ng-click="upload()" 
	/>
	</div>
	
</div>

<div ng-show="progress.done || progress.error" class="box">
	
	<!-- success message -->
	
	<div ng-show="progress.error">
	<h2>error</h2>
	<pre>{{ progress.error }}</pre>
	refresh page to try again.
	</div>
	

	<!-- upload link -->
	
	<div ng-show="progress.done">
	<h2>success!</h2>
	<strong>{{ progress.orig }}</strong>
	uploaded to
	<a href="{{ progress.src }}">
		{{ progress.src }}
	</a>
	</div>
	
</div>

<div ng-show="tmpl.loaded" class="box">
	<h4>upload template loaded...<h4>
	<p>add metadata...</p>
	
	<!-- metadata -->
	
	<form ng-show="tmpl.loaded">
		<input type="text" 
		       ng-repeat="field in edit_fields" 
					 ng-change="change(field)" 
					 ng-model="form[field]" 
					 placeholder="{{field}}" 
		/>
		
		<input class="button secondary" 
           type="submit" 
           value="save" 
           ng-click="save()" 
		/>
		
		<!-- messages received from JackSON server -->
		
		<div ng-show="tmpl.saving" json-msg></div>
		
</div>

<div ng-show="tmpl.saved" class="box">
	<h4>upload record saved!</h4>
	<p>thumbnail creation added to imgup job queue.</p>
</div>

