<div class="row">
	<div class="columns small-12">
		<!-- Info -->
		<div urn-info></div>
	</div>
</div>

<div class="row">
	<div class="columns small-12">
		<!-- imgbit -->
		<img src="{{ src }}" 
			 ng-param="{{ json['this:roi_x'] }},{{ json['this:roi_y'] }},{{ json['this:roi_width'] }},{{ json['this:roi_height'] }}"
		img-bit />
	</div>
</div>

<div class="row">
	<div class="columns small-12">
		<div collection-items></div>
	</div>
</div>

<div class="row">
	<div class="columns small-12">
		<!-- Metadata -->
		<div id="annotation-form" class="box">
			<h3>metadata</h3>
			<form>
				<input type="text" ng-repeat="field in edit_text_fields" ng-change="change(field)" ng-model="form[field]" placeholder="{{field}}" />
				<input class="button secondary" 
					   type="submit" 
					   value="Save" 
					   ng-click="save()" 
				/>
			</form>
		</div>
	</div>
</div>

<!-- JSON output -->
<div json-out></div>
