<!-- load -->

<div class="imgspect">
	<img ng-src="{{ src }}"/>
</div>

<!-- frame -->

<div class="imgspect frame"
	 ng-style="{
	   'width':'100%',
	   'height':frame_h+'px' }">
	
	<!-- canvas --> 
	
	<div class="canvas no-select"
		 ng-style="{
		   'width':canvas_w+'px',
		   'height':canvas_h+'px',
		   'left':canvas_x+'px',
		   'top':canvas_y+'px',
		   'background-image':'url('+src+')',
			 '-webkit-filter': filter,
		 }"
	>
				
		<!-- lites -->
		
		<div ng-repeat="item in json.annotations"
			 class="lite"
			 ng-style="{
			   'width':to_canvas_x( item['width'] )+'px',
			   'height':to_canvas_y( item['height'] )+'px',
			   'left':to_canvas_x( item['x'] )+'px',
			   'top':to_canvas_y( item['y'] )+'px',
			   'opacity':config.lite.opa,
			   'background-color':config.lite.color }">
			   <p>{{ item['label'] }}</p>
			   <p>{{ item['description'] }}</p>
		 </div>
		 
		 <!-- temp lite -->
		 
		 <div class="lite temp"
			  ng-style="{
				'width':to_canvas_x( temp_lite.w )+'px',
				'height':to_canvas_y( temp_lite.h )+'px',
				'left':to_canvas_x( temp_lite.x )+'px',
				'top':to_canvas_y( temp_lite.y )+'px',
				'opacity':config.lite.opa,
				'background-color':config.lite.color }">
					
			<a class="button secondary tiny nudge"></a>
			<div class="ctrl">
				
				<a class="no-select button secondary tiny popout" 
					 ng-click="popout( true )">+</a>
					 
				<a class="no-select button secondary tiny resize">*</a>
			</div>
		 </div>
		 
		 <!-- annotation popout -->
		 
		<div class="annot"
			 ng-show="popout()"
		     ng-style="{
				 'height':'150px',
				 'width':'240px',
			   'left':to_canvas_x( temp_lite.x )+calc_offset('x')+'px',
			   'top':to_canvas_y( temp_lite.y )+calc_offset('y')+'px',
			   'opacity':config.annot.opa,
			   'background-color':config.annot.color }">
			   
			<div class="words">
				<input type="text"
					   ng-model="temp_label"
					   ng-style="{ 'background-color':config.annot.input.color }"
					   placeholder="label" 
				/>
				<input type="text"
					   ng-model="temp_desc"
					   ng-style="{ 'background-color':config.annot.input.color }"
				     placeholder="description"
				/>
			</div>
			
			<div class="ctrl">
				
				<a class="no-select button secondary tiny add" 
				   ng-click="add()">
					 add
				</a>
				
				<a class="no-select button secondary tiny cancel" 
				   ng-click="popout( false )">
					 cancel
				</a>

			</div>
		</div>
	</div>
	
</div>

<!-- nav -->

<div ng-class="{true:'right', false:'left'}[nav_right]" class="imgspect nav"
	 	 ng-style="{
	   'width':nav_w()+'px',
	   'height':nav_h+'px',
	   }">
	 
	 <!-- nav canvas -->
	 
	 <div class="canvas"
 		 	  ng-style="{
 		    'width':nav_w()+'px',
 		    'height':nav_h+'px',
 		    'background-image':'url('+src+')' }">
		   
  		 <!-- dragger -->
			 
  		 <div class="drag"
  		 	 ng-style="{
			   'width':drag_w()+'px',
			   'height':drag_h()+'px',
			   'left':drag_x+'px',
			   'top':drag_y+'px',
		   	 'opacity': config.nav.opa }">
  		 </div>
		   
	   	 <!-- nav lites -->
			 
	   	 <div ng-repeat="item in json.annotations"
	   		 class="lite"
	   		 ng-style="{
			   'width':to_nav_x( item['this:roi_width'] )+'px',
			   'height':to_nav_y( item['this:roi_height'] )+'px',
			   'left':to_nav_x( item['this:roi_x'] )+'px',
			   'top':to_nav_y( item['this:roi_y'] )+'px',
			   'opacity':config.lite.opa,
			   'background-color':config.lite.color }">
	   	 </div>
	 </div>
</div>

<!-- controls -->

<div class="imgspect controls">
	
	<a class="button tiny secondary" ng-click="nav_right = !nav_right">move nav</a>
	
	<div class="row">
	
		<!-- zoom slider -->
		
		<div class="columns small-12 medium-4">
		<div class="box">	
			<div>zoom</div>
			<div slider 
					 change="zoom_chg"
					 start="{{ zoom / config.zoom.max }}"
			>
			</div><span>{{ zoom }}x</span>
		</div>
		</div>
		
		<!-- highlight color -->
		
		<div class="columns small-12 medium-4">
		<div class="box">
		<div>lite color</div>
		<div>
			<input minicolors="config.color_picker" ng-model="config.lite.color" />
		</div>
		</div>
		</div>
		
		<!-- opacity slider -->
		
		<div class="columns small-12 medium-4">
		<div class="box">
		<div>opacity</div>
		<div slider 
				 change="lite_opa_chg"
				 start="{{ config.lite.opa }}"
		>
		</div><span>{{ config.lite.opa }}</span>
		</div>
		</div>
	
	</div>
	
	<!-- save application state -->
	
	<input ng-click="save()" 
	       type="submit" 
				 class="button secondary" 
				 value="Save" 
	/>
				 
	<div json-msg></div>
	
</div>