<div class="row">
	<div class="columns small-12">
		
		<!-- Info -->
		
		<div urn-info></div>
	</div>
</div>


<div class="row">
	<div class="columns small-12">
		
		<!-- Metadata -->
		
		<div id="item-form" class="box">
			<h3>metadata</h3>
			<form> 
				<input type="text" ng-repeat="field in edit_text_fields" ng-change="change(field)" ng-model="form[field]" placeholder="{{field}}" />
				<input class="button secondary" type="submit" value="Save" ng-click="save()" />
				
				<!-- Messages received from JackSON server -->
				
				<div ng-show="saving" json-msg></div>
				
			</form>			
		</div>
	</div>
</div>


<div class="row">
	<div class="columns small-12 medium-6">

		<!-- Uploads -->
		
		<div id="item-upload" class="box">
			<h3>upload</h3>
			
			<div>
				<img src="{{ upload[0].thumb }}" />
			</div>
			
			<div>
				<a href="#/upload/{{ json[upload_ref]['@id'] }}">
					{{ json[upload_ref]['@id'] }}
				</a>
			</div>
			
		</div>
	
	</div>
	
	<div class="columns small-12 medium-6">
		
		<!-- Collection -->
		
		<div id="item-collection" class="box">
			<h3>collection</h3>
			<ul class="items">
				<li ng-repeat="item in collections">
					<a href="#/collection/{{ item.urn }}">{{ item.urn }}</a>
				</li>
			</ul>
		</div>
		
	</div>
</div>

<!-- ROIS -->

<div class="row">
	<div class="columns medium-12">
		
		<div id="item-rois" class="box">
			<h3>rois</h3>
			<ul class="items list">
				
				<div class="row" ng-repeat="roi in rois">
					
						<div class="columns small-6">
							<img src="{{ img_src }}" 
								 ng-param="{{ roi.x }},{{ roi.y }},{{ roi.width }},{{ roi.height }}"
							img-bit />
						</div>

						<div class="columns small-6">						
							<table>
								<tr>
									<th>urn</th>
									<td>{{ roi.urn }}</td>
								</tr>
								<tr>
									<th>label</th>
									<td>{{ roi.label }}</td>
								</tr>
								<tr>
									<th>desc</th>
									<td>{{ roi.description }}</td>
								</tr>
							</table>
						</div>
				</div>
				
				<!-- Open Imgspect -->
				
				<a class="button secondary" href="#/imgspect/{{ urn }}">imgspect</a>
				
			</ul>
		</div>
		
	</div>
</div>

