<div class="row">
	<div class="columns small-12">
		<div class="box">
			
			<!-- Info -->
			<div ng-hide="ready">
				<div>Add <strong>{{ upload_urn }}</strong> to a collection.</div></br>
			</div>
			
			<div ng-hide="ready">
				<input type="text" ng-model="form['search']" placeholder="collection" />
				<input class="button secondary" type="submit" ng-click="search()" value="search"/>
			</div>
			
			<!-- After Collection -->
			<div ng-show="ready">
				<div>Created item</div>
				<a class="button secondary" ng-click="create_item()">{{ urn }}</a>
			</div>
			
		</div>
	</div>
</div>

<ul ng-hide="ready" class="collections">
	<li ng-if="collections.length == 0">No collection found for "{{ form.search }}"</li>
	<li ng-repeat="item in collections">
		<a ng-click="add_to( item.urn )">{{ item.urn }}</a>
	</li>
</ul>