<div class="row">
	<div class="columns small-12">
		
		<!-- Info -->
		
		<div urn-info></div>
		
	</div>
</div>

<!-- Image Preview -->

<a href="{{ json[upload_ref]['@id'] }}"><img class="preview" src="{{ json[upload_ref]['@id'] }}" /></a>

<div class="row">
	<div class="columns small-12 medium-6">
		
		<!-- Associated Collection Items -->
		
		<div collection-items-short></div>
		
	</div>

	<div class="columns small-12 medium-6">
		
		<!-- Resized Images -->
		
		<div resize-items></div>
		
	</div>
</div>

<div class="row">
	<div class="columns small-12">
		
		<!-- Metadata -->
		
		<div id="upload-form" class="box">
			<h3>metadata</h3>
			<form>
				<input type="text" 
				       ng-repeat="field in edit_text_fields" 
							 ng-change="change(field)" 
							 ng-model="form[field]" 
							 placeholder="{{field}}" 
				/>
				<input class="button secondary" 
				       type="submit" 
							 value="save" 
							 ng-click="save()" 
				/>
				
				<!-- Messages received from JackSON server -->
				
				<div ng-show="saving" json-msg></div>
				
			</form>			
		</div>
		
	</div>
</div>