<div class="row">
	<div class="columns small-12">
		
		<!-- Upload image -->
		<div id="img-disk" class="box">
			<h3>Image on disk</h3>
			
			<!-- File system -->
			<input type="file"
				   ng-file-select
				   ng-model="file"
				   accept="image/*"
			/>
			
			<!-- Upload that image! -->
			<input class="button secondary" 
				   type="submit" 
				   value="add" 
				   ng-click="upload()" 
			/>
			
			<pre ng-show="upload_out">{{ upload_out }}</pre>

		</div>
		
	</div>
</div>

<div class="row">
	<div class="columns small-12">
		<div id="img-url" class="box">
			<h3>Image by URL</h3>
			
			<input type="text" 
			       ng-change="change(src_field)" 
				   ng-model="form[src_field]" 
				   placeholder="src_field" 
			/>
			
			<input class="button secondary"
				   type="submit"
				   value="add"
				   ng-click="cp_http()"
			/>
			
		</div>
	</div>
</div>

<div class="row">
	<div class="columns small-12">
		
		<div id="upload-new-form" class="box">
			<h3>Update metadata</h3>
			
			<!-- Change metadata -->
			<form ng-show="ready">
				<input type="text" ng-repeat="field in edit_text_fields" ng-change="change(field)" ng-model="form[field]" placeholder="{{field}}" />
				<input class="button secondary" 
					   type="submit" 
					   value="save" 
					   ng-click="save()" 
				/>
			</form>
			
		</div>
	</div>
</div>
		
<!-- JSON output -->
<div json-out></div>
