<div class="row">
	<div class="columns small-12">
		
		<h3>Where is your image?</h3>
		
		
		<!-- Type of upload? -->
		
		<a ng-click="disk(true)" 
		   ng:class="{selected: show_disk==true}" 
		   class="button secondary tiny">disk</a>
		   
		<a ng-click="disk(false)" 
		   ng:class="{selected: show_disk==false}" 
		   class="button secondary tiny">URL</a>
		
		
		<!-- Upload from disk -->
		
		<div ng-show="show_disk" id="img-disk" class="box">
			<input type="file"
				   ng-file-select
				   ng-model="file"
				   accept="image/*"
			/>
			<pre ng-show="upload_out">{{ upload_out }}</pre>
		</div>
		
		
		<!-- Upload by URL -->
		
		<div ng-hide="show_disk" id="img-url" class="box">
			<input type="text" 
			       ng-change="change('this:src')" 
				   ng-model="form['this:src']" 
				   placeholder="URL" 
			/>
		</div>
		
	</div>
</div>

<div class="row">
	<div class="columns small-12">
		
		<div id="upload-new-form" class="box">
			<h3>metadata</h3>
			
			<!-- Change metadata -->
			<form ng-show="ready">
				<input type="text" 
					   ng-change="change('rdf:label')" 
					   ng-model="form['rdf:label']" 
					   placeholder="label" 
				/>
				<input type="text" 
					   ng-change="change('rdf:description')"
					   ng-model="form['rdf:description']" 
					   placeholder="description" 
				/>
				<input class="button secondary" 
					   type="submit" 
					   value="save" 
					   ng-click="save()" 
				/>
				
				<!-- Messages received from JackSON server -->
				<div ng-show="saving" json-msg></div>
				
			</form>
			
		</div>
	</div>
</div>